.firstName,
.categories {
    color: #cc024c!important;
}

.isDisabled {
    color: currentColor!important;
    cursor: not-allowed!important;
    opacity: 0.5!important;
    text-decoration: none!important;
}

.bgrid {
    border: 2px solid #cc055f!important;
}

.special-char,
.confluence {
    color: #cc055f;
}